*{
    margin: 0;
    padding: 0;
}


input{
background-color: #1A1818;
}
.icon{
    width: 450px; 
    height: 250px;
}
input::placeholder {
color: #FFFFFF;

}

fieldset{
    border: 0;
}

body{
    background: color #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    
}
 select, textarea, button{
  border-radius: 5px;  
  
}

.campo{
    margin-bottom: 1em;
    
}

.campo label{
    margin-bottom: 0.2em;
    color: #FFFFFF;
    
    display: block;
    }

    fieldset.grupo.campo{
        float: left;
        margin-right: 1em;
        
    }

    .campo input[type="text"], .campo input[type="password"], .campo input[type="email"], .campo select, .campo textarea{
        padding: 0.5em;
        border: 1px solid #1A1818;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        display: block;
    }


    .campo select option{
    padding-right: 1em;
 }

 .campo input:focus, .campo select:focus, .campo textarea:focus{
     background: #e0e0f8;
 }


 .botao:hover{
     background: #ccbbff;
     box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
     text-shadow: none;
 }
 a:link {
    color: #FF7C03;
  }

   a:visited {
    color: #FF7C03;
  } 
  a:hover {
    color: #FF7C03;
  }
     a:active {
    color: #FF7C03;
  }

  form{
      text-align: center;
  }
   @media(max-width:844px){}
    @media(max-width:915px){    
   }
  
 
  



