
@media(max-width:412px){
    body{
        
        padding: 0;
        margin:  0;
        background: #000000;
    }


    #icon {

        position: absolute;
        left: 35px;
        top: 25px
        
        }
/*     
        #CaixaSombra {

            position: absolute;
            left: 0px;
            top: 25px;  
            } */
    
 #text{
    position: absolute; 
color: white;
font-size: 15px;
font-family: inter;
font-weight: 500;
padding: 0;
}

#text2{
position: absolute; 
font-family: inter;
}
#text3{
    position: absolute; 
    font-family: inter;
    }
    #text4{
        position: absolute; 
        font-family: inter;
        color: white;
        font-size: 20px;
        }
        #text5{
            position: absolute; 
            font-family: inter;
            font-size: 18px;
            color: black;
            }
    #seta {

       height: 30px;
       padding: 2px 10px;
        
        }
     
        #menu{
            position: fixed;
            top:800px;
            left:0;
            width: 100%;
            height: 90px;
            background: rgba(0, 0, 0, 0.88);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            
            ul {
            
                list-style: none;
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0;
                
            
            }
          
}