*{
    margin: 0;
    padding: 0;
}

#icon {

position: absolute;
left: 570px;
top: 30px

}
input{
background-color: #1A1818;
}

input::placeholder {
color: #FFFFFF;

}

fieldset{
    border: 0;
}

body{
    background: color #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    
}
 select, textarea, button{
  border-radius: 5px;  
  
}

.campo{
    margin-bottom: 1em;
    
}

.campo label{
    margin-bottom: 0.2em;
    color: #FFFFFF;
    
    display: block;
    }

    fieldset.grupo.campo{
        float: left;
        margin-right: 1em;
        
    }

    .campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
        padding: 0.5em;
        border: 1px solid #1A1818;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        display: block;
    }

    .campo select option{
    padding-right: 1em;
 }

 .campo input:focus, .campo select:focus, .campo textarea:focus{
     background: #e0e0f8;
 }

 .botao {
     font-size: 1.2em;
     background: #171816;
     box-sizing: border-box;
     border: 1px solid #747474;
     border-radius: 8px;
     margin-bottom: 1em;
     color: #ffffff;
     padding: 1em 5em;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
position: absolute;
top: 80%;
left: 50%;
margin-right: -50%;
transform: translate(-50%,-50%);
 }

 .botao:hover{
     background: #ccbbff;
     box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
     text-shadow: none;
 }


 

#photo {
    width: 1365px;
    height: 0.5px;

}





 