body{
    padding: 0;
    margin:  0;
    background: #000000;
    background-color: #000000;
}

#naruto {
    position: absolute;
left: 0px;
top: 74px
}

.playselec {
    position: absolute;
left: 25px;
top: 30px
}


.search-box{
    position: absolute;
    top:7%;
    left: 77%;
    transform: translate(-50%, -50%);
    background: #353b48;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    color: #00a8ff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;

}   
@media(max-width:390px){
    body{
        padding: 0;
        margin:  0;
        background: #000000;
    }
    
  
    
    #animex {
        position: absolute;
    left: 25px;
    top: 30px
    }
    
    .search-box{
        position: absolute;
        top:7%;
        left: 77%;
        transform: translate(-50%, -50%);
        background: #353b48;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }
    
    .search-btn{
        color: #00a8ff;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #353b48;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 2s;
    }
    
    .search-txt{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }
    
    .search-box:hover > .search-txt{
        width: 240px;
        padding: 0 6px;
    }
    
    .search-box:hover > .search-btn{
        background: white;
    
    }

    #tp.container-md{
        padding: 0;
    }
}
@media(max-width:412px){
    body{
        padding: 0;
        margin:  0;
        background: #000000;
    }

    .search-btn{
        color: #00a8ff;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #353b48;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 2s;
    }
    
    .search-txt{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }
    
    .search-box:hover > .search-txt{
        width: 240px;
        padding: 0 6px;
    }
    
    .search-box:hover > .search-btn{
        background: white;
    
    }   

.navbar-custom{
    width: 412px;
    height: 10%;
    margin: 0 auto;
}
}


#text{
    position: absolute; 
color: white;
font-size: 15px;
font-family: inter;
font-weight: 500;
padding: 0;
}
#top.container-md{
    background:url("/TG2ºSC-R_G/pages/page4/imagens/image 3.png");
    padding-left: 5;
}
.h4{
    padding: 0;
    color: white;
}

#tp{
    padding: 0;
    
}





.img{
    text-align: center;
    height: 78px;
}
#tittle{
    color: white;
    padding-left: 3px;
}
#textselec{
    color: #FF7C03;
}
#textnotselec{
    color: white;
}
#menu{
    position: fixed;
    top: 825px;
    left: 0px;
    width: 412px;
    height: 90px;
    
    }
#mp{
    padding: 0px;
}
#scr{
    overflow: scroll;
display: flex;
padding-left:0px;
position: relative; 
}
.nav{
    position:fixed;
    bottom: 0px;
    width: 412px;
    display: flex;
    overflow-x:auto;
    background-color: #1A1818;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}.nav__link{
    margin-top: 10px;
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
flex-grow: 1;
min-width: 50px;
overflow: hidden;
white-space: nowrap;
font-family: inter;
font-size: 13px;
color: white;
text-decoration: none;
-webkit-tap-highlight-color: transparent;
}
.nav__icon{
    width: 40px;
}

.nav__link__active{
    color:#FF7C03
}