@media(max-width:412px) {
    body {

        padding: 0;
        margin: 0;

    }

    #menu {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 90px;
        background: rgba(0, 0, 0, 0.88);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    ul {

        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    #text {
        font-size: 30px;
        font-family: inter;
    }

    #text2 {
        font-size: 25px;
        font-family: inter;
    }
    #text3{
        position: absolute; 
        font-family: inter;
        font-size: 22px;
        }
        #text4 {
            font-size: 35px;
            font-family: inter;
        }
    #menu {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 90px;
        background: rgba(0, 0, 0, 0.88);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    ul {

        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
    }    #menu2{
        position:fixed;
        top:826px;
        left:0;
        width: 100%;
        height: 90px;
        background: #1A1818;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
        ul {
        
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0;
        }
        

}