@media(max-width:412px){
    body{
        
        padding: 0;
        margin:  0;
        background: #000000;
    }

    #text{
        font-size: 30px;
        font-family: inter;
        }
        
    #text2{
        font-size: 30px;
        font-family: inter;
        }
    }