@media(max-width:412px){
    body{
        
        padding: 0;
        margin:  0;
        background: #000000;
    }

    #text{
        position: absolute; 
        font-family: inter;
        }

        #text2{
            position: absolute; 
            font-family: inter;
            font-size: 25px;
            }
            #text3{
                position: absolute; 
                font-family: inter;
                color: white;
                font-size: 20px;
                }
                #seta {

                    height: 30px;
                    padding: 0px 10px;
                     
                     }
}